@font-face {
    font-family: "IranSans";
    src: local("IranSans"),
     url(~assets/fonts/IranSans.ttf) format("truetype");
}

html {
    font-family: "IranSans";
}
.NuxtLogo {
  animation: 1s appear;
}

@keyframes appear {
  0% {
    opacity: 0.8;
  }
}

